/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Tutorial Case

   Survey Forms Style Sheet
   Author: Miranda Raithel
   Date:   11/18/2022

   Filename: forms.css

*/

/* Form Layout Styles */

form#sale {
	display: -webkit-flex;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	
}

form#sale > fieldset {
	background-color: #CDFFFF;
	border-radius: 20px;
	color: black;
	-webkit-flex: 1 1 300px;
	flex: 1 1 200px;
	font-size: 0.85em;
	padding: 0px;
	margin: 20px;
	text-align: left;
}

form#sale > fieldset#custInfo {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	padding: 30px;
}

form#sale > fieldset#saleInfo {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	padding: 30px;
}

div.formRow {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-grow: 1;
	flex-wrap: wrap;
	padding: 0px;
	margin: 10px 10px;
}

div.formRow > * {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	flex: 1 1 150px;
	-webkit-flex: 1 1 150px;
}


/* Legend Styles */
legend {
	background-color: #6b48ff;
	color: white;
	padding: 5px;
}


/* Text Area Styles */
textarea {
	margin-top: 10px;
	height: 100px;
	width: 95%;
}


/* Spinner Styles */
div.formRow > input#breedSpin {
	-webkit-flex: 0 0 50px;
	flex: 0 0 50px;
}


/* Form Button Styles */
div#buttons {
	text-align: center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	background-color: #CDFFFF;
	border-radius: 20px;
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
}


/* Validation Styles */

